/* navbar */
#top_nav {
    background-color: #dacc00;
    padding: 0% 8%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-left: 25px;
}

#searchbox {
    background-color: #fcc302;
    color: white;
    border: 0px;
    border-radius: 0px;
    position: relative;
    left: 47px;
    box-shadow: 5px 10px 11px 0px #00000021;
}

#searchbox::placeholder {
    color: white;
}

#searchbtn {
    position: relative;
    background-color: #00bec9;
    border: 0px;
    border-radius: 0px;
}

@media only screen and (max-width:820px) {
    #searchform {
        margin-top: 20px;
        margin-bottom: 30px;
        position: relative;
        left: -20px;
    }
}

/* banner */

#banner {
    background-color: #fcc302;
    padding-top: 15px;
    padding-bottom: 20px;
}

#bannertext h1 {
    color: white;
    font-size: 60px;
}

#bannertext p {
    color: white;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;

}

#banner-btn-1 {
    background-color: #00bec9;
    border: 2px solid #00bec9;
    color: white;
}
#banner-btn-2 {
    color: white;
    border: 2px solid white;
    margin-left: 15px;
}

#bannerimg {
    margin-top: 20px;
}

@media only screen and (max-width:820px) {
    #bannertext h1 {
        font-size: 40px;
    }

    #bannertext p {
        font-size: 15px;
    }

    #bannerimg {
        height: 190px;
        width: auto;
    }
}

/* service */
#service-text {
    padding-top: 8%;
    padding-bottom: 5%;
}

#service-btn {
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}

#service-img {
    padding: 5%;
}

/* Counter */
#counter-section{
    background-color: #fcc302;
    color: white;
    padding-top: 50px;
    padding-bottom: 70px;
    background-position: center;
    background-size: cover;
}
.counter-icon{
    font-size: 60px;
}

@media only screen and (max-width:520px){
    .counter-icon{
        font-size: 40px;
    }
}

/* blog */
#blog {
    padding-top: 50px;
    padding-bottom: 70px;
}

#blog-tittle{
    font-size: 50px;
    font-weight: bolder;
}
#blog-p{
    font-size: 20px;
    margin-bottom: 50px;
}

.article-details{
    padding: 15px;
    border: 1px solid rgb(185, 185, 185);
    border-top: 0;
}

.article-date, .article-link {
    color: #00bec9;
}

/* footer */
#footer {
    background-color: #343434;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer-search-box {
    background-color: #fcc302;
    color: white;
    border: 0;
    padding: 15px;
    width: 100%;
    max-width: 250px;
    position: relative;
    left: 09px;
}

#footer-search-submit {
    background-color: #00bec9;
    color: white;
    border:0;
    border-radius: 0;
    padding: 15px 40px;
}

.social-icon {
    font-size: 25px;
    padding-left: 5px;
}

@media only screen and (max-width:1150px) {
    #footer-search-box {
        max-width: 175px;
    }
}
@media only screen and (max-width:900px) {
    #footer-search-box {
        max-width: 120px;
    }
}

@media only screen and (max-width:820px) {
    #footer-search-box {
        max-width: 120px;
    }
}
@media only screen and (max-width:768px) {
    #footer-search-box {
        max-width: 120px;
    }
}

@media only screen and (max-width:500px) {
    #footer-search-box {
        max-width: 200px;
    }
    #footer {
        padding-top: 10px;
    }

    #footer h4 {
        padding-top: 40px;
    }
}